<article class="card">

    <div class="title card-header">
        <h2><a href="/posts/{{id}}">{{title}}</a></h2>
    </div>

    <div class="card-body">
        by {{user.username}} on {{format_date created_at}}
         <p>{{content}}</p>
    </div>

</article>