        <article class="post">

            <div class="title card-header">
                <a href="{{post_url}}" target="_blank">{{title}}</a>
                {{!-- format only the post url that is displayed, not the href --}}
                <span>({{format_url post_url}})</span>
            </div>

            <div class="meta">
                by {{user.username}} on {{format_date created_at}}
                |
                <a href="/posts/{{id}}">{{comments.length}} {{format_plural 'comment' comments.length }}</a>
            </div>

        </article>